 <!-- About Section -->
<section id="about">
    <div class="row">
        <div class="col-lg-12">
            <h2>Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% assign profile = site.general | where:"slug", "profile" | first %}
            {% if include.version == 'short' %}
                <p>{{profile.summary}}</p>
            {% else %}
                <p>{{profile.content}}</p>
            {% endif %}
        </div>
    </div>
</section>