<div class="cv-left">

    <section>
        <div class="cv-left__picture">
            <img src="/img/profile-large.jpg" alt="">
        </div>
    </section>
    <section>
        <h1>Danilo Prates</h1>
        <p class="role">Front End Developer</p>
    </section>

    <section>
        <h2>Personal</h2>

        <table class="cv-left__personal">
            <tr>
                <th>Name</th>
                <td>Danilo Prates</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>March 19 2081</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>Brazil/Hungarian</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>Brazil</td>
            </tr>
        </table>
    </section>
    <section>
    <h2>Contact</h2>
        <table class="cv-left__personal">
            <tr>
                <th>E-mail</th>
                <td>daniloprates@gmail.com</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>+55 11 998.901.608</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>http://danilo.work</td>
            </tr>
            <tr>
                <th>Github</th>
                <td>/daniloprates</td>
            </tr>
        </table>
    </section>


</div>