<!-- Portfolio Grid Section -->
<section id="cv">
        <div class="row">
            <div class="col-lg-12">
                <h2>Experience</h2>
            </div>
        </div>
        <div>
            {% assign posts = site.work | sort: 'dateBegin' | reverse %}
            {% for post in posts %}
                {% include cv-work-item.html index = forloop.index %}
            {% endfor %}

            {% comment %}
                {% assign posts = site.general | sort: 'dateBegin' | reverse %}
                {% for post in posts %}
                    {% for item in post %}
                        <p><b>{{item}}</b> </p>
                    {% endfor %}
                {% endfor %}
            {% endcomment %}

            <div class="row visible-print-block">
                <div class="col-lg-12 text-right">More work experience: <b>danilo.work/experience</b></div>
            </div>

        </div>
</section>