<!-- Portfolio Grid Section -->
<section id="skills" class="cv-skills">
        <div class="row">
            <div class="col-lg-12">
                <h2>Skills</h2>
            </div>
        </div>
        <div>
        	<ul>
        		<li>Javascript</li>
    			<ul>
    				<li>React.js</li>
    				<li>Mithril</li>
    				<li>VanillaJs</li>
    				<li>jQuery</li>
    				<li>Node.js</li>
    			</ul>
        	</ul>
        	<ul>
        		<li>Styling</li>
    			<ul>
    				<li>CSS3</li>
    				<li>SASS</li>
    				<li>Stylus</li>
    				<li>PostCSS</li>
    				<li>Less</li>
    			</ul>
        	</ul>
        	<ul>
        		<li>View</li>
    			<ul>
    				<li>HTML</li>
    				<li>PHP</li>
    				<li>JSP</li>
    				<li>JSX</li>
    				<li>Velocity</li>
    			</ul>
        	</ul>
        	<ul>
        		<li>Concepts</li>
    			<ul>
    				<li>Functional programming</li>
    				<li>Flux / Redux</li>
    				<li>MVC</li>
    			</ul>
        	</ul>

        </div>
</section>