{% if post.dateBegin %}
<h3>{{ post.title }}</h3>
<div class="date">
	{{ post.dateBegin | date: '%m/%y' }} 
	{% if post.dateEnd %} 
		{{page.dateTo}}
		{{ post.dateEnd | date: '%m/%y' }} 
	{% endif %}
</div>
<p class="role"> {{post.role[page.lang] }} </p>
<p class="description"> {{post.description[page.lang] }} </p>
<ul class="languages">
	{% for tag in post.tags %}
 		<code>{{tag}}</code>
 	{% endfor %}
 </ul>
 {% if post.projects %}
 <h4>Projects</h4>
 <ul class="projects">
	{% for project in post.projects %}
 		<li>
 			{% if project.url %}<a href="{{project.url}}" target="_blank">{% endif %}
 				{% if project.title[page.lang] %}
 					<h4>{{project.title[page.lang]}}</h4>
 				{% else %}
 					<h4>{{project.title}}</h4>
 				{% endif %}
 			{% if project.url %}</a>{% endif %}
			{% if project.description[page.lang] %}
				<p>{{project.description[page.lang]}}</p>
			{% elsif project.description %}
				<p>{{project.description[page.lang]}}</p>
			{% endif %}
 		</li>
 	{% endfor %}
 </ul>
 {% endif %}
{% endif %}



