<li class="{{post.cid}} {{ include.class }}">
    <div class="timeline-image">
        <img class="img-circle img-responsive" src="img/experience/{{post.cid}}.png" alt="">
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>
                {{ post.dateBegin | date: "%b %y" }}
                {% if post.dateEnd %} | {{ post.dateEnd | date: "%b %y" }}{% endif %}
            </h4>
            <h4 class="subheading">{{post.title}}</h4>
        </div>
        <div class="timeline-body">
            <div class="text-muted">{{post.summary}}</div>
        </div>
        <div class="timeline-tags">
            {% for tag in post.tags %}
                <code>{{tag}}</code>
            {% endfor %}
        </div>
    </div>
</li>