
// @media print {

    .container {
    	padding: 1.5cm 1.5cm .5cm 7.5cm;

    }

    section {
    	margin-bottom: 50px;
    }

	.cv-left {
		width: 6cm;
		background: lightgray;
		top: 1cm;
		bottom: 1cm;
		left: 1cm;
		position: absolute;
		padding: .5cm .5cm .5cm .5cm ;

		section {
			margin-bottom: 30px;
		}

		table {
			font-size: 12px;
		}
		th {
			vertical-align: top;
			text-align: left;
			width: 40%;
		}
		td {
			width: 3cm;
			text-align: right;
		}


		.role {
			text-align: center;
			font-size: 20px;
			font-family: $sans;
			margin: 0 0 5px;
			width: 100%;
		}

		// img, h1, h2, .role {
		// 	visibility: hidden;
		// }




	}

	.tags {
		margin-top: 0;
		text-align: right;
	}

	.cv-left__picture {
		img {
			border-radius: 100%;
			width: 100%
		}
	}

	h1 {
		font-size: 35px;
		font-weight: bold;
		margin: 0 0 5px;
	}
	h2 {
		font-size: 26px;
		font-weight: normal;
		margin-top: 0;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin: 0 0 5px;
	}

	.cv-left__more-info {
		margin-top: 140px;
	}

	.cv-left__education {
		th, td {
			width: 100%
		}
	}

	.cv-skills {

		div > ul {
			float: left;
			width: 25%;
			padding-left: 20px;

			> li {
				font-weight: bold;
			}
		}


	}






// }