<!DOCTYPE html>
<html>
  {% include cv-head.html %}
  <body id="page-top" class="page">
    <div class="container">
      {% comment %}
      {% include cv-navbar.html %}
      {% endcomment %}
      {% include cv-header.html %}
      {% include about.html %}
      {% include cv-work.html %}
      {% include cv-other.html %}
      {% comment %}
        {% include contact.html %}
      {% endcomment %}
      {% include modals.html %}
      {% include javascript.html %}
    </div>
  </body>
</html>
